.text{
    color: #2E2E2E;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.text p{
    max-width: 1080px;
    padding: 10px;
}
.slogan {
    color: #2E2E2E;
    background-color: #fff3a9;
}

.slogan p{
    text-align: center;
}