*{
    margin:0;
    padding:0;
    
   }
  
   body{
    font-family:'Roboto',sans-serif;
     overflow-x:hidden;
   }
  
   header{
     display: flex;
     background-color: #FFF3A9;
     justify-content: space-around;
   }
  
   nav{
   display:flex;
   color:#025A78;
   align-items: center;
   }
  
   nav ul{
   display:flex;
   list-style: none;
   margin: 0 20px;
   }
  
   nav ul li{
     margin: 0 20px;
   }
   nav ul li a {
     color:#025A78;
     text-decoration: none;
     font-size: 1em;
   }
   
