.btnBlue {
    @include borderR(100px);
    @include btn();
    background-color: $mainBlue;
    color: $white;
    letter-spacing: 3px;
    border: none;

    &:hover {
        background-color: lighten($mainBlue, $lighten);
        color: $white;
    }
}

.btnBoredBlue {
    @include borderR(100px);
    @include btn();
    @include btnBorder();
    background-color: $white;
    color: $mainBlue;

    &:hover {
        color: lighten($mainBlue, 10%);
        border: 1px solid lighten($mainBlue, 10%);
    }
}

.btnYellow {
    @include borderR(100px);
    @include btn();
    background-color: $subYellow;
    color: $textBlack;
    border: none;

    &:hover {
        background-color: lighten($subYellow, $lighten);
        color: lighten($textBlack, 30%);
    }
}

.btnWhite {
    @include borderR(100px);
    @include btn();
    background-color: $white;
    color: $textBlack;
    border: 1px solid $mainBlue;

    &:hover {
        // background-color: darken($white, $darken);
        color: lighten($textBlack, 30%);
    }
}

//上下一頁按鈕
.pageBtn {
    @include borderR();
    border: 1px solid $linkBlue;
    padding: 10px;
    font-size: $font-1;
    background-color: $white;
    cursor: pointer;

    &:hover {
        border: 1px solid $textBlack;
        color: $textBlack;
    }
}

//頁數按鈕
.noBtn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    @include borderR(100%);
    border: 1px solid $linkBlue;
    background-color: $white;
    padding: 10px;
    cursor: pointer;

    &:hover {
        border: 1px solid $textBlack;
        color: $textBlack;
    }
}


//自訂按鈕，已寫好padding跟圓角

.btn {
    @include btn();
}