// 版型
$layoutwidth:1200px;

// 斷點

// 顏色
$mainBlue:#025A78;
$mainYellow:#F1EBC6;
$subYellow:#FFF3A9;
$bgYellow:#FFF9D6;
$bgGray:#F3F3F3;
$tagGray:#676767;
$textBlack:#777777;
$linkBlue:#5F8B94;
$pageBlue:#6B879D;
$shawdowGray:#8989898e;
$white:#ffffff;
$darkYellow:#D2B81C;
$lightboxcolor:rgba(230, 230, 230, 0.801);


//顏色明暗
$darken:10%;
$lighten:10%;

// 字體

// 字級
$h1:36px;
$h2:28px;
$h3:18px;
$h4:16px;
$p:16px;
$tag:14px;
$nav:24px;

$font-1:14px;
$font-2:16px;
$font-3:18px;
$font-4:20px;
$font-5:22px;
$font-6:28px;

//字元間距
$letterSpacing:2px;

// 間距
$margin:10px;
$padding:10px;



// 會員頭像
$smCircle:30px;
$mdCircle:80px;
$lgCircle:130px;

// 表單寬度
$formwidth:550px;
$forminputwidth:350px;