<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
  integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<script src="./js/jquery-3.6.0.min.js"></script>
<header>

  <!--<div class="logo">
    <a href="front_page.html">HackNott'84</a>
  </div>-->


  <nav id="navbar-example2" class="px-3 mb-3">
    <a href="#">HackNott'84</a>
    <ul>
      <li>
        <a href="#member">Member</a>
      </li>
      <li>
        <a href="#project">Projects</a>
      </li>
    </ul>
  </nav>
</header>